{% extends "base.html" %}
{% block content %}

<section class="skills-section">

  <!-- PAGE HEADER -->
  <div class="card skills-header fade-in-up">
    <h2 class="section-title">Skills</h2>
    <p class="small">
      My technical skill set focused on AI, automation, cloud, and software development.
    </p>
  </div>

  <!-- FLOATING SKILLS GRID -->
  <div class="skills-float-grid">

    <div class="skill-card float-card">
      <h3> Artificial Intelligence</h3>
      <ul>
        <li>Machine Learning </li>
        <li>Data Preprocessing</li>
        <li>Model Evaluation Concepts</li>
        <li>Explainable AI (XAI)</li>
        <li>Prompt Engineering</li>
        <li>Natural Language Processing (NLP)</li>
        <li>Retrieval-Augmented Generation (RAG)</li>


      </ul>
    </div>

    <div class="skill-card float-card">
      <h3> Automation</h3>
      <ul>
        <li>UiPath Automation</li>
        <li>Workflow Design</li>
        <li>Task Automation</li>
        <li>Robot Process Automation</li>
        <li>Process Optimization</li>
      </ul>
    </div>

    <div class="skill-card float-card">
      <h3>☁️ Cloud & DevOps</h3>
      <ul>
        <li>AWS Fundamentals</li>
        <li>Azure Fundamentals</li>
        <li>Azure data classification</li>
        <li>Cloud Deployment Basics</li>
      </ul>
    </div>

    <div class="skill-card float-card">
      <h3>Programming</h3>
      <ul>
        <li>Python</li>
        <li>C / C++</li>
        <li>SQL</li>
        <li>Data Structures & Algorithms</li>
        <li>Ardiuno</li>
        <li>R</li>
      </ul>
    </div>

    <div class="skill-card float-card">
      <h3>Course work & Technologies</h3>
      <ul>
        <li>Computer Networks</li>
        <li>ROS</li>
        <li>DBMS</li>
        <li>Flask</li>
        <li>Git & GitHub</li>
        <li>Database Design</li>
        <li>Linux Basics</li>

      </ul>
    </div>

  </div>

</section>

{% endblock %}
